.numbers{
    color: red;
    /* border: 2px solid aqua; */
    justify-content: center;
    text-align: center;
    size: 100px;
    margin-top: 15%;
    text-size-adjust: 50%;
    font-size: 500%;
    background-color: grey;
  color: aliceblue;